<!DOCTYPE html>
<html>
    <head>
        <title>PyThreads</title>
    </head>
    <script src="/static/js/moment.min.js"></script>
    <body>

		<h1>PyThreads</h1>

        {% for message in get_flashed_messages() %}
            <p><b>Error</b>: {{ message }}</p>
        {% endfor %}
        {% if current_user.is_authenticated %}
        	<a href="/" id="home">Home</a>
    		|
        	<a href="{{ url_for('user', nickname=g.user.nickname) }}">Profile</a>
        	|
            <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
        {% block login %}{% endblock %}
        <hr>
        <div>
            {% block content %} {% endblock %}
        </div>
    </body>
</html>