<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>Create Thread</h1>
  <form action="" method="post" name="edit">
      {{form.hidden_tag()}}
      <table>
          <tr>
              <td>Title:</td>
              <td>{{ form.title(size=24) }}</td>
          </tr>
          <tr>
              <td>Body:</td>
              <td>{{ form.body(cols=32, rows=4) }}</td>
          </tr>
          <tr>
              <td></td>
              <td><input type="submit" value="Create!"></td>
          </tr>
      </table>
  </form>
{% endblock %}