<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="container" >
    <div class="well well-sm"><a href="{{ url_for('index') }}">Topics</a> / Edit Comment</div>
    <div class="well">
        <h2>Edit Comment</h2>
        <form id="commentEditForm" method="post" action="" class="form-horizontal">
            {{ form.hidden_tag() }}
            <div class="well">
                <div class="form-group">
                    <label class="col-sm-1 control-label">Body:</label>
                    <div class="col-sm-10">
                        {{ form.body(id="comment", class="form-control", maxlength="1000", rows="10", style="resize:none") }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-1">
                        <a href="{{ url_for('thread', id=comment.thread_id) }}" class="btn btn-default">Cancel</a>
                        <input class="btn btn-primary" type="submit" value="Save Changes"></input>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('#commentEditForm').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            body: {
                validators: {
                    notEmpty: {
                        message: 'This field can\'t be empty'
                    }
                }
            }
        }
    });
});
</script>
{% endblock %} 