{% extends "base.html" %}
{% block content %}
	<div>
		<h2>Topics</h2>
		<ul>
			{% for topic in topics %}
			<li><a href="{{ url_for('topic', topicname=topic) }}">{{ topic }}({{ topics[topic]['count'] }})</a></li>
			{% endfor %}
		</ul>
		<a href="{{ url_for('create') }}">Create Thread</a>
		{% for thread in threads.items %}
		<table>
			<tr valign="top">
				<td><img src="http://graph.facebook.com/{{ g.user.social_id.split('$')[1] }}/picture?type=small"></td>
				<td>
					<b><a href="#"><span style="font-size: 120%">{{ thread.title }}</span></a></b><br>
					<span style="font-size: 80%">submitted -TIME- by: <a href="#">{{ thread.author.nickname }}</a></span>
				</td>
			</tr>
		</table>
		{% endfor %}
		<br>
		{% if threads %}
			{% if threads.has_prev %}
			<a href="{{ url_for('index', page=threads.prev_num) }}">&lt;&lt; Newer threads</a>{% else %}&lt;&lt; Newer threads{% endif %} | 
			{% if threads.has_next %}<a href="{{ url_for('index', page=threads.next_num) }}">Older threads &gt;&gt;</a>{% else %}Older threads &gt;&gt;{% endif %}
		{% endif %}
	</div>
{% endblock %} 