<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<table>
	<tr>
		<td>
			<h1>{{ thread.title }}</h1>
		</td>
	</tr>
	<tr>
		<td>
			<a href="{{ url_for('user', nickname=thread.author.nickname) }}">{{ thread.author.nickname }}</a>
		</td>
		<td>
			<span style="font-size: 80%">submitted -TIME- </span>
		</td>
	</tr>
    <tr valign="top">
        <td><img src="http://graph.facebook.com/{{ thread.author.social_id.split('$')[1] }}/picture?type=normal"></td>
        <td>
            <textarea style="height: 100px; width: 500px; resize: none" readonly>{{ thread.body }}</textarea>
        </td>
    </tr>
</table>
<div style="padding-left:5em">
	<br>
	<h4>Comments</h4>
	<hr>
	{% for comment in comments %}
	<table>
		<tr valign="top">
			<td><img src="http://graph.facebook.com/{{ comment.c_author.social_id.split('$')[1] }}/picture?type=small"></td>
			<td>
				<span style="font-size: 80%">said, on 09/01/2016 at 6:25 AM</span><br>
				<textarea style="height: 50px; width: 500px; resize: none" readonly>{{ comment.body }}</textarea>
			</td>
		</tr>
	</table>
	<hr>
	{% endfor %}
	<br>
	<form action="" method="post" name="comment">
		{{ form.hidden_tag() }}
		<table>
          <tr>
              <td>{{ form.body(cols=50, placeholder="Enter your comment here...") }}</td>
              <td><input type="submit" value="Send" ></td>
          </tr>
      </table>
	</form>
</div>
{% endblock %}