<table>
    <tr valign="top">
        <td><img src="http://graph.facebook.com/{{ thread.author.social_id.split('$')[1] }}/picture?type=small"></td>
        <td>
            <b><a href="#"><span style="font-size: 120%">{{ thread.title }}</span></a></b><br>
            <span style="font-size: 80%">submitted -TIME- by: <a href="{{ url_for('user', nickname=thread.author.nickname) }}">{{ thread.author.nickname }}</a></span><br><br>
            <textarea style="height: 100px; width: 500px; resize: none" readonly>{{ thread.body }}</textarea>
        </td>
    </tr>
</table>