<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h2><a href="{{ url_for('index') }}">Topics</a> / <a href="{{ url_for('topic', topicname=thread.topic) }}">{{ thread.topic }}</a> / {{ thread.title }}</h2>
<table>
	<tr valign="top">
		<td>
			<a href="{{ url_for('user', nickname=thread.author.nickname) }}">{{ thread.author.nickname }}</a>
		</td>
		<td>
			<span style="font-size: 80%">submitted -TIME- 
			{% if g.user.id != thread.user_id %}
                {% if not g.user.is_tracked(thread)%}
                <a href="{{ url_for('track', id=thread.id) }}">Track</a>
                {% else %}
                <a href="{{ url_for('untrack', id=thread.id) }}">Untrack</a>
                {% endif %}
            {% endif %}
			</span>
		</td>
	</tr>
    <tr valign="top">
        <td><img src="http://graph.facebook.com/{{ thread.author.social_id.split('$')[1] }}/picture?type=normal"></td>
        <td>
            <textarea style="height: 100px; width: 500px; resize: none" readonly>{{ thread.body }}</textarea>
        </td>
    </tr>
</table>
<div style="padding-left:5em">
	<br>
	<h4>{{ comments.count() }} Comments »</h4>
	<hr>
	{% for comment in comments %}
	<table>
		<tr valign="top">
			<td><img src="http://graph.facebook.com/{{ comment.c_author.social_id.split('$')[1] }}/picture?type=small"></td>
			<td>
				<span style="font-size: 80%">said, on 09/01/2016 at 6:25 AM
				{% if comment.user_id == g.user.id %}
				<a href="{{ url_for('edit_comment', id=comment.id) }}">Edit</a>
				|
				<a href="{{ url_for('delete_comment', id=comment.id) }}">Delete</a>
				{% else %}
					{% if not g.user.is_liked(comment) %}
	                <a href="{{ url_for('like', id=comment.id) }}">Like</a>
	                {% else %}
	                <a href="{{ url_for('unlike', id=comment.id) }}">Unlike</a>
                	{% endif %}
                {% endif %}
				</span><br>
				<textarea style="height: 50px; width: 500px; resize: none" readonly>{{ comment.body }}</textarea>
			</td>
		</tr>	
	</table>
	<hr>
	{% endfor %}
	<br>
	<form action="" method="post" name="comment">
		{{ form.hidden_tag() }}
		<table>
          <tr>
              <td>{{ form.body(cols=50, placeholder="Enter your comment here...", required="True") }}</td>
              <td><input type="submit" value="Send" ></td>
              {% for error in form.body.errors %}
              <span style="color: red;">[{{ error }}]</span><br>
              {% endfor %}
          </tr>
      </table>
	</form>
</div>
{% endblock %}