<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="container" >
	<div class="well well-sm"><a href="{{ url_for('index') }}">Topics</a> / {{ topic }}</div>
	<div class="well">
		<h2>{{ topic }}</h2>
		<div class="table-responsive">
			<table class="table">
				{% for thread in threads.items %}
					{% include 'threads.html' %}
				{% endfor %}
			</table>
			{% if threads.has_prev %}
			<a href="{{ url_for('index', page=threads.prev_num) }}">&lt;&lt; Newer threads</a>{% else %}&lt;&lt; Newer threads{% endif %} | 
			{% if threads.has_next %}<a href="{{ url_for('index', page=threads.next_num) }}">Older threads &gt;&gt;</a>{% else %}Older threads &gt;&gt;{% endif %}
		</div>
	</div>
</div>
{% endblock %} 