    <!-- extend base layout -->
    {% extends "base.html" %}

    {% block content %}
        <table>
            <tr valign="top">
                <td><img src="http://graph.facebook.com/{{ user.social_id.split('$')[1] }}/picture?type=normal"></td>
                <td>
                    <h1>Name: {{ user.name }}</h1>
                    <h3>Nickname: {{ user.nickname }}</h3>
                    <h3>Email: {{ user.email }}</h3>
                    <h3>About me: {{ user.about_me }}</h3>
                    {% if user.id == g.user.id %}<p><a href="">Edit</a></p>{% endif %}
                </td>
            </tr>
        </table>
        {% if user.id == g.user.id %}
        <hr>
        <h3>Tracked Threads:</h3>
        {% for track in tracks %}
            {% if g.user.is_tracked(track) %}
            <table>
                <tr valign="top">
                    <td>
                        <b><a href="#"><span style="font-size: 120%">{{ track.title }}</span></a></b><br>
                        <span style="font-size: 80%">submitted -TIME- by: <a href="{{ url_for('user', nickname=track.author.nickname) }}">{{ track.author.nickname }}</a></span>
                    </td>
                </tr>
            </table>
            {% endif %}
        {% endfor %}
        {% endif %}
        <hr>
        <h3>Threads:</h3>
        {% for thread in threads.items %}
        <table>
            <tr valign="top">
                <td><img src="http://graph.facebook.com/{{ user.social_id.split('$')[1] }}/picture?type=small"></td>
                <td>
                    <b><a href="#"><span style="font-size: 120%">{{ thread.title }}</span></a></b><br>
                    <span style="font-size: 80%">submitted -TIME- {% if user.id == g.user.id %}<a href="{{ url_for('edit_thread', id=thread.id) }}">Edit</a> | <a href="{{ url_for('delete_thread', id=thread.id) }}">Delete</a>{% endif %} </span><br><br>
                    <textarea style="height: 100px; width: 500px; resize: none" readonly>{{ thread.body }}</textarea>
                </td>
            </tr>
        </table>
        {% endfor %}
        {% if threads %}
            {% if threads.has_prev %}
            <a href="{{ url_for('index', page=threads.prev_num) }}">&lt;&lt; Newer threads</a>{% else %}&lt;&lt; Newer threads{% endif %} | 
            {% if threads.has_next %}<a href="{{ url_for('index', page=threads.next_num) }}">Older threads &gt;&gt;</a>{% else %}Older threads &gt;&gt;{% endif %}
        {% endif %}
    {% endblock %}