<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="container" >
    <div class="well col-md-2" align="center">
        <img src="http://graph.facebook.com/{{ user.social_id.split('$')[1] }}/picture?type=normal">
    </div>
    <div class="well col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">Info</div>
            <div class="panel-body">
                <ul class="list-group">
                    <h4>Name</h4>
                    <li class="list-group-item">{{ user.name }}</li>
                    <h4>Nickname</h4>
                    <li class="list-group-item">{{ user.nickname }}</li>
                    <h4>Email</h4>
                    <li class="list-group-item">{{ user.email }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% if user.id == g.user.id %}
<div class="container">
    <div class="well">
        <h3>Tracked Threads:</h3>
        <div class="table-responsive">
            <table class="table">
            {% for track in tracks %}
                {% if g.user.is_tracked(track) %}
                    <tr valign="top">
                        <td>
                            <b><a href="{{ url_for('thread', id=track.id) }}"><span style="font-size: 120%">{{ track.title }}</span></a></b><br>
                            <span style="font-size: 80%">submitted {{ momentjs(track.timestamp).fromNow() }} by: <a href="{{ url_for('user', nickname=track.author.nickname) }}">{{ track.author.nickname }}</a>
                            {% if g.user.id == track.user_id %}
                                <a href="{{ url_for('track', id=track.id) }}" title="Track" data-placement="bottom" data-toggle-tooltip="tooltip" class="pull-right"><i class="glyphicon glyphicon-star-empty"></i></a>
                            {% else %}
                                <a href="{{ url_for('untrack', id=track.id) }}" title="Untrack" data-placement="bottom" data-toggle-tooltip="tooltip" class="pull-right"><i class="glyphicon glyphicon-star"></i></a>
                            {% endif %}
                            </span>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endif %}
<div class="container">
    <div class="well">
        <h3>Threads:</h3>
        <div class="table-responsive">
            <table class="table">
                {% for thread in threads.items %}
                <tr>
                    <td>
                        <b><a href="{{ url_for('thread', id=thread.id) }}" style="font-size: 120%">{{ thread.title }}</a></b>
                        <span style="font-size: 80%">
                        </span>
                        <br>
                        <span style="font-size: 80%">submitted {{ momentjs(thread.timestamp).fromNow() }}</span>
                        {% if g.user.id == thread.user_id %}
                        <a href="{{ url_for('delete_thread', id=thread.id) }}" title="Delete" data-placement="bottom" data-toggle-tooltip="tooltip" class="pull-right"><i class="glyphicon glyphicon-remove"></i></a>
                        <a href="{{ url_for('edit_thread', id=thread.id) }}" title="Edit" data-placement="bottom" data-toggle-tooltip="tooltip" class="pull-right"><i class="glyphicon glyphicon-edit"></i></a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% if threads %}
                {% if threads.has_prev %}
                <a href="{{ url_for('index', page=threads.prev_num) }}">&lt;&lt; Newer threads</a>{% else %}&lt;&lt; Newer threads{% endif %} | 
                {% if threads.has_next %}<a href="{{ url_for('index', page=threads.next_num) }}">Older threads &gt;&gt;</a>{% else %}Older threads &gt;&gt;{% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}